<footer class="main-footer">
  <div class="developer">
    <a href="https://www.facebook.com/vinicius.martins.1804" target="_blank" rel="noreferrer noopener">By Vinicius Martins</a>
  </div>

  <div class="powered">
    <a href="https://www.djangoproject.com/" target="_blank" rel="noreferrer noopener">Powered by Django</a>
  </div>
    
  <nav class="navigation-social-medias">
    <a href="https://github.com/viniciusMartinsP" aria-label="Find me on Github" 
      target="_blank" class="link-without-decoration"> HERE ITS MY </a>
  </nav>

</footer>